# Supabase
#change 5432 → 6543 and add ?pgbouncer=true
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.xxxxxxxxxxxx.supabase.co:6543/postgres?pgbouncer=true"
# Keep DIRECT_URL as-is (used by Prisma Migrate only)
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.xxxxxxxxxxxx.supabase.co:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL="https://xxxxxxxxxxxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key-here"

# NextAuth
AUTH_SECRET="run-openssl-rand-base64-32-and-paste-here"
NEXTAUTH_URL="http://localhost:3000"